.bg-primary{
  background-color: #23395D !important;
}
.primary{
  // background-color: #23395D !important;
  background-color: #FFFFFF !important;
}
.login-card{
  display: flex;
  justify-content: center;
  padding: 5.5em 0 !important;
}
.login-banner-wrapper > .v-card-item > .v-card-item__prepend > .login-banner > .image > svg{
  padding: 0;
  margin: -39px -99px -187px -4px;
}
.v-btn--size-default {
  --v-btn-height: 50px;
}
// .v-card--variant-elevated {
  // box-shadow: none !important; 
// }
.v-application__wrap {
  background-color: #fff !important;
}
