.bg-primary{
  background-color: #23395D !important;
}
.login-card{
  display: flex;
  justify-content: center;
  padding: 13.5em 0 !important;
}
.login-banner-wrapper > .v-card-item > .v-card-item__prepend > .login-banner > .image > svg{
  padding: 0;
  margin: -39px -99px -187px -4px;
}
.v-btn--size-default {
  --v-btn-height: 50px;
}
